/* Reset default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
li,
input,
button,
textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dad7cd;
    color: #344e41;
}

header {
    background-color: #a3b18a;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 15px;
}

nav ul li a{
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: #013220;
    font-family: Arial, sans-serif;
}

nav ul li:first-child {
    margin-left: 0;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label,
form input,
form textarea,
form button {
    margin-bottom: 10px;
}

form input,
form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;

}

form button {
    background-color: #3a5a40;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="text"] {
    max-width: 400px;
}

input[type=submit]{
    box-shadow: 0 5px #666;;
    opacity: 0.6;
    transition: 0.3s;
}

input[type=submit]:hover{
    background-color: #D3D3D3;
     opacity: 1;
}

input[type=submit]:active{
      background-color: #D3D3D3;
      box-shadow: 0 2px #666;
      transform: translateY(4px);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #588157;
    color: white;
}

.subtitle{
    margin: 2%;
    text-align: center;
}

/* new info page */

.article{
    text-align: center;
}

.article p{
    padding-top: 15px;
    padding-bottom: 15px;
}

.article a{
    color: #013220;
}

.article a:hover{
    color: #20694f;
}

